<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'tienda/tienda.css' %}" rel="stylesheet">

	<style type="text/css">
		.row {
		 margin-right: 0px !important; 
		 margin-left: 0px !important; 
		}

	</style>

</head>
<body ng-app="app" ng-controller="startApp">
<input type="hidden" value="{{request.user.id}}" id="usuario">
	<div id="top">
		<div id="herramientas">	
				<div id="logo">
					<img class="icono-superior" src="{% static 'assets/icons/logo.png' %}">
				</div>		
				<div class="float-element text-center" ng-click="mostrar_perfil_vendedor()">
					<img class="icono-superior" src="{% static 'assets/icons/User_male_black_shape_32.png' %}">
				</div>
				
				<div class="float-element text-center" data-toggle="modal" data-target="#compartir" data-toggle="tooltip" data-placement="bottom" title="Compartir">
					<img class="icono-superior" src="{% static 'assets/icons/Sharethis_logo_32.png' %}">
				</div>
				


				
			</div>
	</div>
	<div id="slide">
		<jb-slider ng-controller="slide_incluir_producto" ></jb-slider>
	</div>





	
	<div class="row">
	  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
		  	
	  	</div>	  
	</div>


	<div class="row Filtro">
					<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 ">	  	
						<h3 ng-click="" class="Show-categorias">CATEGORÍAS</h3> 
					</div>  

					<div class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xs-offset-2 col-sm-offset-8 Show-vistas">
						
							<img class="v1" src="{% static 'assets/img/v2.png' %}" ng-click="vista1()"></img> 
							<img class="v2" src="{% static 'assets/img/v1.png' %}"  ng-click="vista2()"></img>	
							  	
					</div>  
				</div>

	<div class="row Categorias">
		{% for c in categorias %}
			<div class="col-xs-3 col-sm-3 col-md-1 col-lg-1" >	
				<img class="img-categoria" src="{{c.imagen}}" ng-click="buscar_categoria({{c.id}})" ></img><p class="categoria">{{c.nombre}}</p> 
			 	
			</div>  	
		{% endfor %}		 
	</div>


	<div class="ContainerCategorias">
		{% for c in categorias %}
		<div class="Categoria">
			<div id="{{c.id}}" class="Categoria-item">
				<h3 class="Categoria-nombre">{{c.nombre}}</h3>
				<div class="vista1">
					<div class="row productos">
						{% for p in c.productos %}
						  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
						  	<div class="producto"> 
						  	
						  		<img class="img-responsive" src="{{p.imagen}}">
						  		<button class="btn-rosa text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="agregar_producto({{p.id}})"><h4 class="text-center">AGREGAR</h4></button>			  		
						  	</div>	  	
						  </div>
						{% endfor %}
							  
					</div>
				</div>
			
				<div class="vista2" style="display: none;">
					<div class="row productos">
						{% for p in c.productos %}
						  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
						  	<div class="producto">
						  		<div class="row">
						  			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						  				<img class="img-responsive" src="{{p.imagen}}">
						  			</div>
						  			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						  				<p class="gris">Nombre: {{p.nombre}}</p>	
								  		<p class="gris">Descripcion: {{p.descripcion}}</p>
								  		<p class="gris"> Peso: {{p.peso}} </p>
								  		<p class="gris">Precio : {{p.valor}} </p>
								  		<button class="btn-comprar-lista btn-rosa text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="agregar_producto({{p.id}})"><h4 class="text-center">AGREGAR</h4></button>	
						  			</div>
						  		</div>
						  			
						  	</div>	  	
						 </div>
						{% endfor %}
						    
					</div>
						
						
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	



<!-- Modal -->

	
<div class="modal fade" id="compartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">COMPARTIR MI TIENDA EN REDES SOCIALES</h4>
      </div>
      <div class="modal-body">
        <div class="fb-send" data-href="https://yoamoloszapatos.com/"></div>

        <div class="fb-share-button" data-href="https://yoamoloszapatos.com/" data-layout="button"></div>

      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="informacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title txt-center text-center" id="myModalLabel" >INFORMACION</h2>
      </div>
      <div class="modal-body">
        <h3 class="text-center" ng-bind="informacion"></h3>

      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="perfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title text-center" id="myModalLabel">MI CUENTA</h4>
							</div>
							<div class="modal-body">
								{% if request.user.is_authenticated %}
								<h2 class="text-center gris lato"> Bienvenid@ </h2>
								<h2 class="text-center gris lato"> {{request.user.username}} </h2>
								
								<table class="table table-bordered ">
	      <thead>
	        <tr class="header-table">
	          
	          <th>Fecha</th>
	          <th>Cliente</th>
	          <th>Producto</th>
	         
	          <th>Estado</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="c in ventas">
	         
	          <td>[[c.fecha  | date:'MM/dd/yyyy @ h:mma' ]]</td>
	          <td>[[c.cliente]]</td>
	          <td>[[c.producto]]</td>
	         
	          <td>[[c.confirmacion_de_pago]]</td>
	        </tr>
	        
	      </tbody>
	    </table>
								{% else %}
								
								<div class="row">
									<div class="row">
									  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
										  	<h4><p class="text-center">
										  		Aun no estas registrado?<br>
										  		Crea una cuenta.
										  	<p></h4>
									  	</div>	  
									</div>

									<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
											<div class="text-center">
												<div class="text-center">
												<a href="{% url 'socialauth_begin' 'facebook' %}?next=/tienda/{{nombre}}/"><button class="campo btn-azul"> FACEBOOK </button></a>
										  			 
										  		</div>
											</div>
												  		
									</div>
									
									
									 



									

									
									 
									
									 
								</div>
								{% endif %}
							</div>
							
						</div>
					</div>
				</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'assets/angular.js' %}"></script>
	    <script type="text/javascript" src="{% static 'assets/aplicacion.js' %}"></script>
	    <script type="text/javascript" src="{% static 'assets/services.js' %}"></script>
	    <script type="text/javascript" src="{% static 'tienda/controllers.js' %}"></script>
	    <script type="text/javascript" src="{% static 'directivas/directivas.js' %}"></script>

	    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=1529769943978668";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		
</body>
</html>