negro = #242424
azul = #487583

btn(bg-color)
	background bg-color
	border 0px
	width 100%
	font-size 1.5em
	padding-top 0.2em
	padding-bottom 0.2em
	margin-bottom 0.2em

.margin-default
	margin-right -15px !important
	margin-left -15px !important

body
	margin 0

.logo
	color black
	background white !important

a
	color white
	text-decoration none

a:hover
	color white
	text-decoration none

.float-left
	float left


.LeftContent
	&-item
		text-align center
		background negro

	&-item:hover
		background azul
		color white!important

.TopBar	
	min-height 6vh

	&-logo
		margin-top 17px

.MainContent
	background #e6e6e6
	min-height 94vh	
	

.RightContent
	margin-top 1em

.btn-read
	btn(#e7314c)

.btn-read:hover
	background negro

.modal
	color black !important


