
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body{
  font-family: Lato !important;
}

.lato{
  font-family: Lato !important;
}

h3{   
  font-family: Lato !important;
}

.bienvenido{
  color: black !important;
  font-size: 17px !important ;
}

.gris{
  color:#a89a8f;
}



.productos {
  margin-top: 1em;
}
.producto {
  
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}
.producto-incluido {
  background-color: #008000;
  width: 90%;
  height: 150px;
  margin: 0 auto;
  margin-top: 1em;
}

#herramientas {
  background-color: black;
  float: right;
 
  width: 100%;
}
#slide {
  margin-top: 3.5em;
}
#top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 60px;
  background: none repeat scroll 0 0 #fff;
  -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.25);
}
#logo {
  float: left;
  margin-left: 1.4em;
  margin-top: 1em;

}



.icono-superior{
width: 44px;

}
.float-element p {
  padding-top: 0.8em;
}
.float-element {
  width: 4em;
  height: 3em;
  color: #fff;
  font-weight: bold;
  border-radius: 2px 2px 2px 2px;
  margin-right: 1em;
  margin-top: 1em;
  float: right;
   margin-left: -1.8em;
  cursor: pointer;
}

.btn-azul{
      background-color: #3f569a;
      color: white;
      font-weight: bold;
      border: 0px;
    }
    
.ContainerCategorias{
  
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}


.Categoria-nombre{
  color: black;
  font-weight: bold;
  margin-left: 1.1em;
}


.btn-rosa{
      background-color: #e6304b;
      color: white;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      border: 0px;
    }

.btn-gris{
      background-color: gray;
      color: white;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      border: 0px;
      cursor: default;
    }

.Categorias{
  margin-top: 1em;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.75);
}

.Filtro{
  background-color: black;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.Show-categorias{
  color: white;
  font-weight: bold;
}

.Show-vistas{
  margin-top: 0.5em;


}

.btn-comprar-lista{
  margin-top: 2em;
}

.img-categoria{
  float: left;
  width: 70px;
  height: 70px;
}


.v2{
  margin-top: 1.1px;
  float: right;
  margin-right: 0.5em;
 
}

.v1{
 
   
   float: right;
}



.margin-top{
  margin-top: 0.5em;
}

.pago{
  display: none;
}

.final-compra{
  display: none;
}

.float-left{
  float: left;
}

.modal-header{
  background-color: #e6304b;
  color: white;
  font-family: Lato !important;
}

.header-table{
  background-color: black;
  color: white;
  font-family: Lato !important;
}

.header-table th:hover{
   color: #e6304b;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, .4);

}

.categoria{
 
  font-weight: bold;
  


}



@media (max-width: 767px) {
  .v2{
    
   
  }

  .v1{
    
    margin-right: -2em;
  }

  

  .Show-vistas{
    
  }

  .carousel-caption a h1{
  
  font-size: 1.3em;
  
    }

    .categoria{
     
        
    }

    .btn-comprar-lista{
      margin-top: 0em;
    }
 }